.header-content {
  margin-left: 1rem;
}

.card-body {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11px;
  color: #0b395d;
}

.card-body p {
  font-size: 1rem;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
